:root {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  background-color: rgb(254 238 254);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 7vh 0vh 4vh 0vh;
}

#to-do-table {
  margin: 20px;
}

.checkbox-cell {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.completed-checkbox {
  width: 70px;
}

/* this class is only added to a tr element when 
    an item is checked */
.checked {
  background-color: #d7ffd7;
}
